# =========================
# .NET build outputs
# =========================
bin/
obj/
out/

# =========================
# User-specific files
# =========================
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Visual Studio
# =========================
.vs/
.vscode/

# Rider / JetBrains
.idea/
*.sln.iml

# =========================
# ASP.NET Core
# =========================
appsettings.Development.json
appsettings.Local.json
secrets.json

# HTTPS development certificates
*.pfx

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# ======
