# =========================
# React Router
# =========================
/web/node_modules/
/web/.react-router/
/web/build/


# =========================
# .NET build outputs
# =========================
bin/
obj/
out/

# =========================
# User-specific files
# =========================
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Visual Studio
# =========================
.vs/
.vscode/

# =========================
# ASP.NET Core
# =========================
appsettings.Development.json
appsettings.Local.json
secrets.json

# HTTPS development certificates
*.pfx

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
